*{margin: 0; padding: 0;}
.xy-gallery > div{ 
  float: left;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: all .3s;
}
.xy-gallery > div img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.xy-gallery > div .text{ 
  transition:all 1s .3s;
  opacity: 0;
  bottom: 0;
  transform: translateY(100%);
  position: absolute;
  width: 340px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  color: #ffffff;
  box-sizing: border-box;
}
.xy-gallery > div.active .text{ opacity: 1;transform: translateY(0%);}

